.root {
    -fx-background-color: #14133A;
}

.label,
.button {
    -fx-font-family: "Cabin Sketch";
    -fx-font-size: 20;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #2F2E65;
}

.button-left {
    -fx-background-radius: 0 50 50 0;
}


.button-right {
    -fx-background-radius: 50 0 0 50;
}

.titre {
    -fx-font-size: 35;
}

