.root {
    -fx-background-color: #14133A;
}

.label,
.button {
    -fx-font-family: "Cabin Sketch";
    -fx-font-size: 20;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #2F2E65;
}

.button:hover {
    -fx-background-color: derive(#2F2E65, -20%);
}

.button-left {
    -fx-background-radius: 0 50 50 0;
}

.button-right {
    -fx-background-radius: 50 0 0 50;
}

.button-nbjoueur {
    -fx-pref-width: 270;
}

.titre {
    -fx-font-size: 35;
}

.slider .track {
     -fx-background-color: linear-gradient(to right,
         rgba(200, 0, 0, 1),
         rgba(255, 255, 255, 0.3),
         rgba(0, 0, 200, 1)
     );
}

.slider .thumb {
    -fx-background-color: white;
}

.choice-box {
    -fx-background-color: #2F2E65;
    -fx-background-radius: 50;
}

.choice-box .arrow {
    -fx-background-color: white;
}

.choice-box:showing .arrow {
    -fx-shape: "M 0 5 L 5 0 L 10 5 Z";
}

.choice-box .context-menu {
    -fx-background-color: #14133A;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-width: 1.5;
    -fx-border-radius: 30;
    -fx-padding: 5;
}

.choice-box .menu-item:focused {
    -fx-background-color: #2F2E65;
    -fx-background-radius: 50;
    -fx-cursor: hand;
}

.choice-box .menu-item .label {
    -fx-text-fill: gray;
}

.choice-box .menu-item:focused .label {
    -fx-text-fill: white;
}

.scroll-pane,
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.hbox {
    -fx-background-color: #2F2E65;
    -fx-background-radius: 30;
}

.button-leave {
    -fx-background-radius: 50;
    -fx-pref-width: 175;
}

.menu-bar {
    -fx-background-color: #2F2E65;
    -fx-background-radius: 0 0 10 10;
}

.menu-bar .menu:hover,
.menu-bar .menu:showing,
.menu-bar .menu-item:focused {
    -fx-background-color: #2F2E65;
    -fx-background-radius: 50;
}

.context-menu,
.menu-bar .menu-item {
    -fx-background-color: #14133A;
}

.context-menu {
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-width: 1.5;
    -fx-border-radius: 10;
    -fx-padding: 5;
}