.root {
    -fx-background-color: #14133A;
}

.line {
    -fx-stroke: white;
    -fx-stroke-width: 2;
    -fx-stroke-dash-array: 1 5;
    -fx-stroke-line-cap: round;
}

.label,
.button,
#titre {
    -fx-text-fill: white;
    -fx-font-family: "Cabin Sketch";
}

.label,
.button {
    -fx-font-size: 20;
}

#titre {
    -fx-font-size: 40;
}

.button {
    -fx-background-color: #2F2E65;
    -fx-background-radius: 0 50 50 0;
    -fx-padding: 5 20;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: derive(#2F2E65, -20%);
}